.clipper {
  background-image: url("https://media.tenor.com/26KgBqLSQUgAAAAC/stars-star-gazing.gif");
  background-clip: text;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  font-size: 200px;
  font-family: sans-serif;
}

.clipper:hover{
  background: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}