.parent{
  height: 100vh;
  background-color: bisque;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element{
  opacity: 0;
  margin-right: 10px;
  min-width: 100px;
  min-height: 100px;
  border: 2px black solid;
}
.element1{
  background-color: blueviolet;
  transform: translateX(-100%);
  transition: all 1s linear;
  transition-delay: 1s;
}
.element2{
  background-color: aqua;
  transform: translateX(-150%);
  transition: all 1s linear;
  transition-delay: 2s;
}
.element3{
  background-color: brown;
  transform: translateX(-200%);
  transition: all 1s linear;
  transition-delay: 3s;
}

.show{
  opacity: 1;
  transform: translateX(0%);
}